.company-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
  }
  
  .company-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .company-list-header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .company-list-button {
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .company-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .company-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 10px;
  }
  
  .company-list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .company-list-item h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  .company-list-item p {
    font-size: 16px;
    margin: 0;
  }

  /* /////////// */

  .company-list-item-column {
    display: flex;
    align-items: center;
  }
  
  .company-list-item-column button {
    margin-right: 10px;
  }
  
  .company-list-item-column button.edit {
    background-color: #0055ff;
  }
  
  .company-list-item-column button.delete {
    background-color: #ff3b30;
    border-radius: 20px;
  }

  .btn-delete {
    background-color: #ff3b30;
  }

  .btn-delete:hover {
    background-color: #fa6961;
  }

  /* //////////// */


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;
  }
  
  .modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  
  .modal button.btn{
    background-color: #007aff;
    border-radius: 20px;
  }

  .modal button.btn:disabled{
    background-color: #ccc;
  }

  .modal button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .modal button:hover{
    color: white;
    font-size: 16px;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  /* .modal button:hover {
    background-color: #0062cc;
  } */

  .logo-header{
    width: 150px;
    height: auto;
    margin-left: 20px;
  }

  .logout-button {
    cursor: pointer; /* cursor al pasar por encima */
    float: right; /* alineación a la derecha */
    margin-top: 20px; /* margen a la derecha */
  }

  .modal button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  

  .nav {
    display: flex;
    border-bottom: 1px solid gray;
    background: white;
    padding: 0 10px;
  }
  
  .link {
    width: 100px;
    border-right: 1px solid gray;
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  .menuA {
    opacity: 0;
    position: absolute;
    top: 40px; 
    left: 0;
    /* background: #ededed; */
    padding: 10px;
    text-align: center;
    transition: all 1000ms ease;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .menuA.open {
    opacity: 1;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  .nav {
    display: flex;
    border-bottom: 1px solid gray;
    background: white;
    padding: 0 10px;
  }
  
  .link {
    width: 100px;
    border-right: 1px solid gray;
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  .menuA {
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    transition: all 1000ms ease;
  }
  
  .menuA.open {
    opacity: 1;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul>li {
    margin: 15px 0px;
  }